# Solana Devnet Configuration
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_METEORA_DBC_PROGRAM_ID=dbcij3LWUppWqq96dh6gJWwBifmcGfLSB5D4DuSMaqN
NEXT_PUBLIC_DIVIDEND_MINT=
HELIUS_API_KEY=
